<div class="drawer-wrapper @(_isOpen ? "slide" : "")">
    <div class="drawer-mask"></div>
    <div class="drawer">
        @if (_activeCar is not null)
        {
            <div class="drawer-content">
                <MudImage Src="@_activeCar.Image"/>
                <div class="trail-details">
                    <h3>@_activeCar.Brand @_activeCar.Model</h3>
                    <div class="mt-4">
                        <span class="mr-5">
                            <MudIcon Icon="@Icons.Filled.AttachMoney" Title="Price" />
                            @_activeCar.Price DDK 
                        </span>
                        <span>
                             <MudIcon Icon="@Icons.Filled.DirectionsCar" Title="km" />
                            @_activeCar.Km KM
                        </span>
                    </div>
                    <p class="mt-4">@_activeCar.Description</p>
                </div>
            </div>
            <div class="drawer-controls">
                 <MudIconButton Icon="@Icons.Filled.Close" aria-label="Close" Style="color:white;" @onclick="Close"></MudIconButton> 
            </div>
        }
    </div>
</div>
@code {
    private bool _isOpen;
    private Car? _activeCar;
    [Parameter, EditorRequired]
    public Car? Car { get; set; }
    protected override void OnParametersSet()
    {
        if (Car != null)
        {
            _activeCar = Car;
            _isOpen = true;
        }
    }
    private void Close()
    {
        _activeCar = null;
        _isOpen = false;
    }
}
