@inject HttpClient Http; 


<MudDrawer @bind-Open="@_isOpen" Width="600px" Height="100%" Anchor="@_anchor" Elevation="1" Variant="@DrawerVariant.Temporary" >
    @if (_activeCar is not null)
    {
        <div class="drawer">
            <div class="drawer-content">
                <MudImage Src="@_activeCar.ImageTitle" Width="600" Height="500"/>
                <div class="Car-details">
                    <MudText Typo="Typo.h5">Brand :  @_activeCar.Brand</MudText>
                    <div style="margin-top: 10px ;"></div>
                    <MudText Typo="Typo.h5">Model : @_activeCar.Model</MudText>
                    <div class="mt-4">
                        <span class="mr-5">
                            <MudIcon Icon="@Icons.Filled.AttachMoney" Title="Price" />
                            Price : @_activeCar.Price

                        </span>
                        <span>
                            <MudIcon Icon="@Icons.Filled.DirectionsCar" Title="km" />
                           KM : @_activeCar.Km 
                        </span>
                    </div>
                    <MudText class="mt-4">@_activeCar.Detail</MudText>
                </div>
            </div>
        </div>
    }
</MudDrawer>


@code {
    private bool _isOpen;
    private Car? _activeCar;
    [Parameter, EditorRequired]
    public Car? Car { get; set; }
    Anchor _anchor;
    protected override void OnParametersSet()
    {
        if (Car != null)
        {
            _activeCar = Car;
            _isOpen = true;
            _anchor = Anchor.End;
        }
    }
   


}
